body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}
footer, nav, #regBtn, #LogBtn{
    background-color: #005C78;
}
#regTop, #logForm ,#todos{
    display: none;
}

